[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Alacritty
Comment=Terminal
Icon=/home/cesc/src/nushell-config/src/linux/gnome-apps/alacritty.svg
Exec=/home/cesc/bin/alacritty
Terminal=false
Categories=Terminal;
