[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LocalSend
Comment=LocalSend
Icon=/home/cesc/src/nushell-config/src/linux/gnome-apps/localsend.png
Exec=/home/cesc/bin/localsend
Terminal=false
Categories=SendFiles;
