history.txt
src/os-this-machine.nu
src/linux/gnome-apps/start-tor-browser.desktop
src/linux/gnome-apps/Browser
broot-config/launcher
broot-config/config/
broot-config/data/
samsung-uld-copy/
config/glazewm/errors.log
