litecli
ipython
img2pdf
honcho
ipdb
chardet
yt-dlp
# memray

# Python-benedict: dict subclass with keylist/keypath support,
# built-in I/O operations (base64, csv, html, ini, json, pickle,
# plist, query-string, toml, xls, xml, yaml), s3 support and many utilities.
python-benedict
