CompileFlags:
  Add: [
  -Wall, -Wextra,
  -std=c++20,
  -IC:/Users/Name/src/absolute-path/src,
  ]

Diagnostics:
  ClangTidy:
    Add: [modernize-*, readability-*, performance-*]
    Remove: [clang-analyzer-*]
    CheckOptions:
      modernize-use-nullptr.NullMacros: 'NULL'
      readability-identifier-naming.VariableCase: camelBack

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Index:
  Background: true
  StandardLibrary: true

Hover:
  ShowAKA: true
