# Configuration file for machine specific settings
#
# Example:
# export use ~/src/nushell-config/src/os-mac.nu *
# export use ~/src/nushell-config/src/os-linux.nu *
# export use ~/src/nushell-config/src/os-windows.nu *

export def "work browse" [] {
  start https://work.com/_pulls
  start https://work.com/_work
}
